{% embed 'partials/base.html.twig' %}

{% block content %}
<div id="main" class="wrapper style4 plain">
    {% if config.plugins.breadcrumbs.enabled %}
    {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}

    <!-- Content -->
    <div id="content" class="container">
        <section>
            {% include 'partials/blog_item.html.twig' with {'blog':page.parent, 'truncate':false} %}
        </section>
    </div>

</div>
{% endblock %}

{% endembed %}